body {
    background-color: rgb(0, 133, 255);
}

.main {
    background-color: white;
    width: auto;
}

p {
    padding: 16px;
}

#fish {
    padding: 16px;
    border: 2px solid black;
    margin:16px;
}

.ing {
    margin: 16px;
    background-color: lightcoral;
    color: black;
}
